.meals-list-container {
  background-color: #ffffff;
  border-radius: var(--margin-half);
  color: #000000;
  padding: var(--margin-normal);
  margin: 0 20vw;
}
@media screen and (max-width: 550px) {
  .meals-list-container {
    margin: 0 var(--margin-normal);
  }
}
