.cart-item-container {
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--margin-half);
  margin-bottom: var(--margin-half);
}

.cart-item-details > * {
  margin-bottom: var(--margin-tiny);
}
.cart-item-details h3 {
  font-size: 1.2rem;
}
.cart-item-price {
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: var(--margin-normal);
}
.cart-item-amount {
  border: 1px solid var(--color-lightgray);
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;
}

.cart-item-controls button {
  background-color: #ffffff;
  border: 1px solid var(--color-primary-light);
  border-radius: 5px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1rem;
  width: 40px;
}
.cart-item-controls button:hover {
  background-color: var(--color-primary-light);
  color: #ffffff;
}
.cart-item-controls button:first-child {
  margin-right: var(--margin-tiny);
}