.cart-button {
    background-color: var(--color-primary-dark);
    border-radius: var(--margin-normal);
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: var(--margin-half) var(--margin-big);
}
.cart-button:hover {
    background-color: var(--color-primary-darker);
}

.cart-button > * {
    margin: 0 var(--margin-half);
}

.cart-button-icon {
    font-size: 0.8rem;
    margin: 0;
}

.cart-button-quantity {
    background-color: var(--color-primary-light);
    border-radius: var(--margin-normal);
    margin: 0;
    padding: 2px 10px;
}

@media screen and (max-width: 600px) {
    .cart-button {
        padding: var(--margin-half) 10px;
    }
}
@media screen and (max-width: 300px) {
    .cart-button span {
        margin-right: 0;
    }
    .cart-button-quantity {
        display: none;
    }
}
