.main-navbar ul {
    background-color: var(--color-primary);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(var(--margin-big) * 2);
    width: 100%;
}
.main-navbar h1 {
    font-size: 2rem;
    padding: var(--margin-half) 0;
}
