:root {
  --color-lightgray: #b4b4b4;
  --color-gray: #323132;
  --color-darkgray: #262526;
  --color-primary: #7f2607;
  --color-primary-light: #b13b18;
  --color-primary-dark: #441602;
  --color-primary-darker: #21110b;
  --margin-big: 40px;
  --margin-normal: 20px;
  --margin-half: 10px;
  --margin-small: 8px;
  --margin-tiny: 4px
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-darkgray);
  /* background-image: url("images/mealswide.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100vw auto; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}

/* @media screen and(max-width: 800px) {
  body {
    background-image: url("images/meals.jpg");
  }
} */
